  .card {
    border: 1px solid #ccc;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    color: #337ab7;
        
    .card-title {
      font-size: 3em;
    }

    .card-text {
      font-size: 3em;
    }
    
  }
