<tr>
  <td>
    <h4><%= category[:name] %></h4>
  </td>
  <td>
    <%= category.products.count %>
  </td>
  <td>
    <h4><%= time_ago_in_words category[:created_at] %></h4>
  </td>
  <td>
    <h4><%= category[:updated_at].strftime("%Y/%m/%d") %></h4>
  </td>
</tr>